<div class="whats-new-container">
  <!-- כפתור ראשון -->
  <div class="option-item" routerLink="/decoration-selection">
    <div class="icon-circle">
      <img src="assets/icons/circle-icon.svg" alt="Circle Icon" class="circle-svg" />
      <img src="assets/icons/settings.svg" alt="Settings Icon" class="inner-icon" />
    </div>
    <button class="option-button">תוכן משתנה</button>
  </div>

  <!-- רווח גדול בין שני הכפתורים -->
  <div class="spacer"></div>

  <!-- כפתור שני -->
  <div class="option-item" routerLink="/results">
    <div class="icon-circle">
      <img src="assets/icons/circle-icon.svg" alt="Circle Icon" class="circle-svg" />
      <img src="assets/icons/graph.svg" alt="Graph Icon" class="inner-icon" />
    </div>
    <button class="option-button">סיכום ותוצאות</button>
  </div>
</div>
