<div class="whats-new-container">
    <div class="header">
      <h1>? מה חדש</h1>
    </div>
  
    <div class="options">
      <div class="option-card" routerLink="/decoration-selection">
        <i class="fas fa-paint-brush icon"></i>
        <h2>בחרי קישוט</h2>
        <p>. בואי להשפיע על בחירת קישוט הכיתה הזוכה</p>
      </div>
  
      <div class="option-card" routerLink="/results">
        <i class="fas fa-chart-bar icon"></i>
        <h2>צפייה בתוצאות</h2>
        <p>צפי בתוצאות ההצבעה לקישוט הכיתה הזוכה</p>
      </div>
    </div>
  </div>
  