<div class="points-container">
  <h2 class="header">כיתה {{ className }}</h2>

  <!-- הצגת מספר הנקודות -->
  <div class="points-text">
    <p class="points-label">:מספר הנקודות שצברתן</p>
    <p class="points-value">{{ totalClassPoints }}</p>
  
  </div>

  <!-- הצגת הכוכבים -->
  <div class="points-display">
    <!-- שורת כוכבי זהב -->
    <div class="gold-row">
      <div *ngFor="let gold of goldPointsArray" class="point">
        <img src="assets/icons/pink-star.svg" alt="Gold Star" class="star-icon" />
      </div>
    </div>

    <!-- שורת כוכבי כסף -->
    <div class="silver-row">
      <div *ngFor="let silver of silverPointsArray" class="point">
        <img src="assets/icons/blue-star.svg" alt="Silver Star" class="star-icon" />
      </div>
    </div>
  </div>

  <!-- הודעת עידוד -->
  <div *ngIf="bonusMessage" class="encouragement">
    {{ bonusMessage }}
  </div>
</div>
