/* כללי - עיצוב הקונטיינר */
@font-face {
  font-family: 'SE_shilgiya';
  src: url('/assets/fonts/SE_shilgiya - short.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Heebo';
  src: url('/assets/fonts/Heebo/Heebo-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* הגדרת הטווח של משקלי הגופן */
  font-style: normal;
}
.points-container {
  width: 70%;
  margin: 0 auto;
  padding: 40px;
  background: #FFFFFF;
  color: #187096;
  text-align: center;
  border-radius: 0 0 20px 20px; /* מעוגל רק בחלק התחתון */
  font-family: 'Heebo', sans-serif;
  border: 2px solid #E172B7;
  position: relative;
  top: -40px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1); /* צל עדין */
}

/* כותרת */
.header {
  font-size: 36px;
  color: #187096;
  font-weight: bold;
  margin-bottom: 20px;
}

/* עיצוב הטקסט של הנקודות */
.points-text .points-label {
  font-size: 30px;
  margin: 0;
}

.points-text .points-value {
  font-size: 140px;
  font-weight: 900;
  color: #134973;
  margin: 0;
}

/* הצגת הכוכבים */
/* הצגת הכוכבים */
.points-display {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 30px 0;
}

/* עיצוב שורות הכוכבים */
.gold-row, .silver-row {
  display: flex;
  flex-wrap: wrap; /* מאפשר ירידה לשורה חדשה */
  justify-content: center; /* מיקום מרכזי של הכוכבים */
  gap: 20px; /* רווח בין הכוכבים */
  max-width: 80%; /* רוחב מקסימלי לשורה */
  margin: 0 auto; /* למרכז את השורות */
}

/* עיצוב הכוכבים */
.point {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.star-icon {
  width: 70px;
  height: 70px;
  transition: transform 0.4s ease;
}

/* אפקט hover */
.point:hover .star-icon {
  transform: scale(1.5);
  opacity: 1;
  filter: brightness(1.2);
}


/* הודעת עידוד */
.encouragement {
  font-family: 'SE_shilgiya', sans-serif;
  font-size: 50px;
  color: #187096;
  margin: 0;
  padding-top: 20px;
}
