@font-face {
  font-family: 'Heebo';
  src: url('/assets/fonts/Heebo/Heebo-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* הגדרת הטווח של משקלי הגופן */
  font-style: normal;
}
.results-wrapper {
  width: 70%;
  margin: 0 auto; /* אין מרווחים חיצוניים */
  padding: 40px;
  background: #FFFFFF;
  color: #187096;
  text-align: center;
  border-top-left-radius: 0; /* הפינה העליונה השמאלית ישרה */
  border-top-right-radius: 0; /* הפינה העליונה הימנית ישרה */
  border-bottom-left-radius: 20px; /* הפינה התחתונה השמאלית מעוגלת */
  border-bottom-right-radius: 20px; /* הפינה התחתונה הימנית מעוגלת */
  font-family: 'Heebo', sans-serif;
  font-weight: normal;
  overflow: hidden;
  position: relative;
  top: -40px; /* זז למעלה כך שיתחיל להופיע מיד לאחר סיום התמונה */
  border: 2px solid #E172B7;
}

.results-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #187096; 
  margin-bottom: 8px;
}

.winner-section {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.winner-title {
  font-size: 22px;
  border: #E172B7;/* חום בהיר */
  font-weight: bold;
  margin-bottom: 15px;
}

.winner-card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #f4e1c1; /* צבע רקע במקרה של כשל טעינת תמונה */
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 500px;
  height: 350px; /* הגדלת גובה הריבוע */
  margin: 0 auto;
  border: 2px solid #DB97C2;
  overflow: hidden;
}

.winner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; /* מציב את התמונה ברקע */
}

.winner-details {
  position: relative;
  z-index: 1; /* מציב את הטקסט מעל התמונה */
  color: #fff;
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5); /* רקע שקוף לטקסט */
  border-radius: 10px;
}

.winner-details h4 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
}

.winner-details p {
  font-size: 20px;
  font-weight: bold;
  background-color:#E382C1; /* צבע רקע חום בהיר עם שקיפות */
  color: #fff;
  padding: 5px 15px;
  border-radius: 20px;
  margin-top: 10px;
  display: inline-block;
}


.chart-container {
  width: 100%;
  max-width: 900px;
  margin-top: 30px;
}

/* כיתות אחרות */
.results-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.result-item {
  background-color: #ffffff;
  width: 200px;
  border-radius: 12px;
  border: 2px solid #E172B7;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease;
  margin-top: 20px;
}

.result-item:hover {
  transform: translateY(-8px);
}

.result-image-container {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.result-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.result-details h4 {
  font-size: 20px;
  font-weight: bold;
  color: #5d470a; /* חום כהה */
  margin-top: 10px;
}

.result-details p {
  font-size: 14px;
  color: #7f8c8d;
}
