<div class="upload-container">
    <h2 class="upload-title">הוספת נקודות</h2>
    <form [formGroup]="addPointsForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="custom-file-label">
          <input
            type="file"
            class="form-control-file"
            id="file"
            name="file"
            (change)="onFileChange($event)"
            accept=".xlsx, .xls"
          />
          <span class="file-info">{{ selectedFile ? selectedFile.name : 'בחר קובץ' }}</span>
        </label>
      </div>
  
      <div class="form-group">
        <label for="points">נקודות להוספה</label>
        <input
          type="number"
          class="form-control"
          id="points"
          formControlName="points"
          required
        />
        <div *ngIf="addPointsForm.get('points')?.invalid" class="error-message">
          יש להזין ערך תקין
        </div>
      </div>
  
      <button type="submit" class="btn-turquoise" [disabled]="!addPointsForm.valid">
        שלח
      </button>
    </form>
  </div>
  