/* רקע התמונה לכל המסך */
body {
  background-image: url('/assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* עיצוב משופר לריבוע הלוגין */
.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  background-color: #ffffff; /* רקע לבן מלא */
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* הצללה חזקה יותר */
  text-align: center;
}

/* עיצוב לכותרת */
.header {
  font-size: 28px; /* גודל טקסט מוגדל */
  margin-bottom: 20px;
  color: #5d470a;
  font-weight: bold;
}

/* עיצוב למיכל הטופס */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px; /* ריווח בין האלמנטים */
}

/* עיצוב לשדות הקלט */
.input-field {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.input-field:focus {
  border-color: #a07c19;
  outline: none;
}

/* עיצוב לכפתור */
.btn {
  padding: 12px;
  background-color: #5b460c;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #a07c19;
}
