<div class="main-background">
  <div class="content">
    <!-- כותרת -->
    <h2 class="title">
      שמרנו לך<br>
      <span class="bold-text">! מקום של כבוד</span>
    </h2>
    <p class="subtitle">! היכנסי, אנחנו מחכות לך</p>

    <!-- עיגול כחול עם החץ -->
    <div class="icon-with-circle">
      <img src="assets/icons/circle-icon.svg" alt="Blue Circle" class="circle-svg" />
      <img src="assets/icons/arrow.svg" alt="Arrow Icon" class="inner-icon" />
    </div>

    <!-- כפתורים -->
    <div class="buttons">
      <button class="main-button" (click)="openForm(false)">כניסה</button>
      <button class="main-button" (click)="openForm(true)">רישום</button>
    </div>
  </div>
</div>

<div class="overlay" *ngIf="showForm">
  <div class="form-popup">
    <!-- אייקון עיגול כחול עם אייקון מתאים -->
    <div class="icon-with-circle">
      <img src="assets/icons/circle-icon.svg" alt="Circle Icon" class="circle-svg" />
      <img [src]="isRegister ? 'assets/icons/sofa.svg' : 'assets/icons/heart.svg'"
           [alt]="isRegister ? 'Sofa Icon' : 'Heart Icon'"
           class="inner-icon" />
    </div>

  <!-- כותרת הטופס -->
  <h2 class="form-title">{{ isRegister ? '!עוד לא נרשמת ?  שמרנו לך מקום' : '!כבוד בשבילנו שאת כאן' }}</h2>
  <p class="form-subtitle">{{ isRegister ?'! כמה פרטים ואת בפנים' : '!חיכינו שתבואי' }}</p>

    <!-- טפסים -->
    <div *ngIf="!isRegister" class="form-container">
      <input type="text" [(ngModel)]="id_number" placeholder="תעודת זהות" class="input-field" required (focus)="focusField('id_number')"/>
      <button (click)="login()" class="form-button"> < להתחיל</button>
    </div>

    <div *ngIf="isRegister" class="form-container">
      <input type="text" [(ngModel)]="id_number" placeholder="תעודת זהות" class="input-field" required (focus)="focusField('id_number')"/>
      <input type="text" [(ngModel)]="nickname" placeholder="שם פרטי" class="input-field" required (focus)="focusField('nickname')"/>
      <input type="text" [(ngModel)]="className" placeholder="כיתה" class="input-field" required (focus)="focusField('className')"/>
      <input type="text" [(ngModel)]="phone" placeholder="מספר טלפון זמין" class="input-field" required (focus)="focusField('phone')" />
      <div class="select-wrapper">
        <label>? באיזה תחום תרצי לתרום לפעילות</label>
        <select [(ngModel)]="selectedFields[0]" class="dropdown-field">
          <option value="" disabled selected>תחום ראשון</option>
          <option *ngFor="let field of donationFields" [value]="field">{{ field }}</option>
        </select>
      
        <select [(ngModel)]="selectedFields[1]" class="dropdown-field">
          <option value="" disabled selected>תחום שני</option>
          <option *ngFor="let field of donationFields" [value]="field">{{ field }}</option>
        </select>
      </div>
            
      <button (click)="register()" class="form-button"> < להתחיל</button>
    </div>
    <p> </p>
    <app-virtual-keyboard *ngIf="isKeyboardVisible" [activeField]="activeField" (inputChanged)="onInputChanged($event)"></app-virtual-keyboard>
    <button class="close-button" (click)="closeForm()">&#10005;</button>
  </div>
  <div class="custom-alert" *ngIf="showAlert">
    <div class="custom-alert-content">
      <p>{{ alertMessage }}</p>
      <button (click)="closeAlert()">אישור</button>
</div>
