<ng-template #login>
  <app-login (loginStatus)="onLoginStatusChange($event)"></app-login>
</ng-template>

<div *ngIf="isLoggedIn; else login">
  <div class="greeting">
    <!-- הצגת הודעת הברכה עם שם המשתמש -->
    <p>😄{{ greetingMessage }} , {{ userName }}</p>
  </div>

  <div class="navigation-buttons">
    <!-- לחצן שזמין לכולם -->
    <button routerLink="/decoration-selection" class="nav-btn">בחר קישוט</button>
    <button routerLink="/results" class="nav-btn">צפייה בתוצאות</button>
    <button routerLink="/student-points" class="nav-btn">אזור אישי</button>
    <button routerLink="/class-points" class="nav-btn">אזור כיתתי</button>

    <!-- לחצנים שזמינים רק למנהלים -->
    <button *ngIf="isAdmin" routerLink="/add-student" class="nav-btn">הוסף תלמיד</button>
    <button *ngIf="isAdmin" routerLink="/upload-decoration" class="nav-btn">העלה קישוט</button>
    <button *ngIf="isAdmin" routerLink="/add-points" class="nav-btn">הוספת נקודות</button>

    <!-- כפתור התנתקות -->
    <button (click)="logout()" class="nav-btn">התנתק</button>
  </div>
  <router-outlet></router-outlet>
</div>
