
@font-face {
  font-family: 'SE_shilgiya';
  src: url('/assets/fonts/SE_shilgiya - short.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Heebo';
  src: url('/assets/fonts/Heebo/Heebo-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* הגדרת הטווח של משקלי הגופן */
  font-style: normal;
}
/* כללי - עיצוב של הכל */
.points-container {
  width: 70%;
  margin: 0 auto; /* אין מרווחים חיצוניים */
  padding: 40px;
  background: #FFFFFF;
  color: #134973;
  text-align: center;
  border-top-left-radius: 0; /* הפינה העליונה השמאלית ישרה */
  border-top-right-radius: 0; /* הפינה העליונה הימנית ישרה */
  border-bottom-left-radius: 20px; /* הפינה התחתונה השמאלית מעוגלת */
  border-bottom-right-radius: 20px; /* הפינה התחתונה הימנית מעוגלת */
  font-family: 'Heebo', sans-serif;
  font-weight: normal;
  overflow: hidden;
  position: relative;
  top: -40px; /* זז למעלה כך שיתחיל להופיע מיד לאחר סיום התמונה */
  border: 2px solid #E172B7;
}


/* עיצוב לטקסט "מספר הנקודות שצברת" */
.points-text .points-label {
  font-family: 'Heebo', sans-serif;
  font-weight: normal; /* Regular */
  font-size: 30px;
  margin: 0;
}

/* עיצוב למספר הנקודות */
.points-text .points-value {
  font-family: 'Heebo', sans-serif;
  font-weight: 900; /* Black */
  font-size: 140px; /* גודל טקסט גדול יותר */
  color: #187096; /* צבע כחול כהה */
  margin: 0;
}
/* הצגת הכוכבים */
.points-display {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 30px 0;
}

/* שורה של כוכבים זהב */
.gold-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* שורה של כוכבים כסף */
.silver-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* עיצוב הכוכבים */
.point {
  width: 70px;
  height: 70px;
  background-size: contain; /* או cover, תלוי איך אתה רוצה שהתמונה תתממש */
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.4s ease, box-shadow 0.3s ease, opacity 0.3s ease, filter 0.3s ease;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  opacity: 0.9;
  transform: scale(1);
}

/* כוכב זהב */
.point.gold {
  background-image: url('/assets/icons/pink-star.svg'); /* נתיב התמונה של כוכב זהב */
}

/* כוכב כסף */
.point.silver {
  background-image: url('/assets/icons/blue-star.svg'); /* נתיב התמונה של כוכב כסף */
}

/* אפקטים של hover */
.point:hover {
  transform: scale(1.5);
  opacity: 1;
}
/* הודעת עידוד */
.encouragement {
  font-family: 'SE_shilgiya', sans-serif;  /* הגופן שהמעצבת עיצבה */
  font-size: 50px;  /* הגדלת הגודל של הטקסט */
  color:#187096;  /* צבע הגופן */
  text-align: center;  /* מיקום מרכזי */
  margin: 0;  /* אין רווחים סביב */
  padding: 0;  /* אין ריפוד */
  background: none;  /* אין רקע */
  border: none;  /* אין גבול */
  position: relative;  /* אפשרות למיקום יחסית */
  z-index: 1;  /* לוודא שההודעה תישאר בקדימה אם יש אלמנטים אחרים */
}

