.upload-container {
  padding: 20px;
  background: #f9f9f9;
  border: 1px solid #DB97C2;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.upload-title {
  color: #187096; /* טורקיז */
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}

.form-group {
  margin-bottom: 20px;
}

.custom-file-label {
  display: block;
  background-color: #DB97C2; /* ורוד בהיר */
  border: 2px solid #187096; /* טורקיז */
  border-radius: 5px;
  padding: 10px;
  position: relative;
  cursor: pointer;
  color: #FFFFFF; /* טקסט לבן */
  font-weight: 500;
  text-align: center;
}

.custom-file-label input[type="file"] {
  display: none; /* הסתרת שדה הקובץ המקורי */
}

.file-info {
  color: #187096; /* טורקיז */
  font-size: 16px;
}

.form-control {
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #DB97C2; /* ורוד בהיר */
  font-size: 16px;
  color: #187096; /* טורקיז */
}

.btn-turquoise {
  background-color: #DB97C2; /* ורוד */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.btn-turquoise:hover {
  background-color: #C87EAA; /* ורוד כהה יותר */
}

.btn-turquoise i {
  margin-right: 8px;
}

.image-preview {
  margin-top: 20px;
  text-align: center;
}

.image-preview img {
  max-width: 100%;
  height: auto;
  border: 1px solid #DB97C2; /* מסגרת ורודה */
  border-radius: 5px;
  padding: 5px;
}

.form-group label[for="name"] {
  color: #187096; /* טורקיז */
  font-size: 18px;
  font-weight: 600; /* Bold */
}
